<div class="example-button-row" >
   <mat-card style="background-color:lightgrey;">

          <button mat-icon-button class="example-icon" style="color:white;">
           <mat-icon>menu</mat-icon>
         </button> 
    

         
  <button mat-raised-button color="primary"   routerLink='/employee' routerLinkActive='active' (click)="list()">Employee Details</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="primary"   routerLink='/apply-leave' routerLinkActive='active'>ApplyLeave</button>
  
  <button  style="float: right;"   mat-raised-button color="warn"  (click)="logOut()"><mat-icon>logout</mat-icon>&nbsp;&nbsp;Logout
    
  </button> 



</mat-card>

   </div>

    

<div *ngIf="employees"> 
   <button  mat-icon-button color="primary"  routerLink='/add-employee' routerLinkActive='active'>
      <mat-icon>person_add</mat-icon>
    </button>
  
    <table   >
<thead>
<tr>
 <th [hidden]="true">Id</th>
 <th >EmployeeId</th>
 <th>EmployeeName</th>
 <th>Department</th>
 <th>Designation</th>
 <th>Email</th>
 <th>DOB</th>
 <th>Salary</th>
 <th>Action</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let emp of employees">
 <td [hidden]='true'>{{emp.id}}</td>
 <td >{{emp.employeeId}}</td>
 <td>{{emp.employeeName}}</td>
 <td>{{emp.department}}</td>
 <td>{{emp.designation}}</td>
 <td>{{emp.email}}</td>
 <td>{{emp.dob}}</td>
 <td>{{emp.salary}}</td>
 <td>
  <div class="example-button-row">
 
    <button mat-icon-button color="primary"  (click)="edit(emp.id)" >
      <mat-icon>edit</mat-icon>
   </button>  
   <button mat-icon-button color="warn" (click)="delete(emp.id)">
      <mat-icon>delete</mat-icon>
   </button>
</div>

</td>
</tr>
</tbody>
</table> 
</div>


      