<!-- <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>        
    <a class="navbar-brand text-white"><b>Inventory Management System</b></a>  
      </button>
<br>
      <div class="collapse navbar-collapse"  [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">             
          <li class="nav-item">
            <br>
            &nbsp;&nbsp;<a routerLink='/product' routerLinkActive='active' (click)="list()">  <i class="fa fa-list"></i><b>Product Details</b></a>
          </li>
          <br>
          <li class="nav-item">
            &nbsp;&nbsp;  <a routerLink='/invoices' routerLinkActive='active' (click)="invoice()"> <b>Invoice</b></a> 
         </li><br>
        </ul>
      </div>    
    <button  class="btn btn-danger my-2 my-sm-0" (click)="logOut()"><i class="fa fa-sign-out"></i><b>Logout</b></button> 
</nav> 
 -->
