
<h1 [ngStyle]="{'background-color':'pink'}" >Employee Details</h1>
<p [ngStyle]="{'color':'green'}">employee works!</p>.

<table border="table  table-striped">
  <thead>
      <tr>
        <th>Id</th>
          <th>Name</th>
            <th>DOB</th>
          <th>Gender</th>
          <th>City</th>
          <th>Salary</th>
        </tr>
  </thead>
  <tbody>
      <tr *ngFor="let emp of employeess">
          <td>{{emp.Id}}</td>
          <td>{{emp.Name|uppercase}}</td> 
          <td>{{emp.DOB|date:"medium"}}</td> 
           <td>{{emp.Gender|lowercase}}</td>  
           <td>{{emp.City|uppercase}}</td>
           <td>{{emp.Salary|currency:"EUR"}}</td>
          
             </tr>
                <tr *ngIf="!employeess||employeess.length==0">
                  <td colspan="5"></td>
                </tr>
                
                
                
  </tbody>
</table>